.form {
  display: flex;
  align-items: center;
  gap: 60px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  position: relative;
  min-width: 300px;
  border: 2px solid hsla(0, 2%, 55%, 0.704);
  border-radius: 4px;
  font-family: inherit;
  font-size: 20px;
  min-height: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.3s linear;
}

.input:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.209);
  scale: 1.01;
}

.inputError {
  border: 1px solid red;
  min-width: 300px;
  min-height: 20px;
  padding: 10px;
  font-size: 20px;
  outline: 1px solid red;
  border-radius: 4px;
}

#titleError,
#descriptionError {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#titleError::after {
  content: "This field is empty";
  position: absolute;
  top: 195px;
  left: 290px;
  font-size: 14px;
  color: red;
  font-weight: normal;
  line-height: 1.2;
}
#descriptionError::after {
  content: "This field is empty";
  position: absolute;
  top: 195px;
  left: 675px;
  font-size: 14px;
  color: red;
  font-weight: normal;
  line-height: 1.2;
  width: 100%;
}

.button {
  background-image: linear-gradient(90deg, #b2adb7df 0, #777d7b 51%, #bdbdbdd5);
  background-size: 200% auto;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 0 20px #eee;
  color: #fff;
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  width: 150px;
  height: 51px;
  align-self: last baseline;
}
.button:hover,
.button:focus {
  background-position: 100%;
  text-decoration: none;
}
