.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(113, 73, 73, 0.841);
  border-top-left-radius: 10px;
  width: 450px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 300ms linear;
  animation: show 500ms linear;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hoverWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(113, 73, 73, 1);
  border-top-left-radius: 10px;
  width: 450px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 300ms linear;
}

.text {
  font-size: 24px;
  font-weight: 500;
  color: rgba(194, 191, 158, 0.924);
  transition: all 300ms linear;
}

.icon {
  width: 100px;
  height: 100px;
  fill: rgba(194, 191, 158, 0.924);
  transition: all 300ms linear;
  z-index: 1000;
}

.wrapper:hover .icon,
.hoverWrapper .icon {
  scale: 1.1;
  fill: rgba(236, 236, 231, 1);
}

.wrapper:hover .text,
.hoverWrapper .text {
  color: rgba(236, 236, 231, 1);
}
