.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  animation: appearing 1s linear;
  animation-fill-mode: forwards;
}

.modalBackground {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 550px;
  height: auto;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);

  background-color: aliceblue;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-weight: 600;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 15px;
  right: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: rgba(49, 34, 34, 0.931);
  transition: fill 250ms linear;
}

.icon:hover {
  width: 30px;
  height: 30px;
  fill: rgba(116, 71, 71, 0.931);
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
