.tableItem {
  transition: all 250ms linear;
  color: rgba(255, 255, 255, 0.695);
}

.tableItem:hover {
  background-color: rgba(111, 111, 111, 0.306);
}

.disabled {
  transition: all 250ms linear;
  pointer-events: none;
  background-color: rgba(33, 32, 32, 0.432);
}

.tableCell {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.tableCell input {
  pointer-events: all;
}

.tableCellText {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.tableCellText:before {
  content: "&nbsp;";
  visibility: hidden;
}

.tableCellText span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableCell button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.tableIcon {
  fill: #777d7b;
  width: 30px;
  height: 30px;
  transition: all 300ms linear;
}

.tableIcon:hover,
.tableIcon:focus {
  fill: #585959;
  scale: 1.02;
}
