.icon {
  width: 50px;
  height: 50px;
  stroke-width: -50%;
  fill: rgb(255, 127, 229);
  text-shadow: inset;
  transition: all 300ms linear;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.icon:hover {
  scale: 1.05;
  stroke-width: -50%;
  fill: rgba(12, 168, 35, 0.924);
}

.doneIcon {
  stroke: rgb(255, 127, 229);
}

.doneIcon:hover {
  stroke: rgba(12, 168, 35, 0.924);
}
